.sl-header{
    margin: .5rem 0;
    position: relative;
}
.sl-header-left,.sl-header-right{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top:0;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
}
.sl-header-left{
    left:0;
}
.sl-header-right{
    right:0;
}
.sl-header-center{
    height: 2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 2rem;
    position: relative;
}
.sl-header-search-icon{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
    color: #ccc;
}
.sl-header-search-input{
    width: 100%;
    padding-left: 2rem;
    font-size:1rem;
    border: 0;
    outline: 0;
    height: 2rem;
    background-color: #f7f7f7;
}
a.sl-header-left-link.icon-font {
    line-height: 1.5rem;
}

a.sl-header-right-link.icon-font {
    line-height: 1.5rem;
}
.sl-filter{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    position: relative;
    margin: 0.5rem 0;
    padding: .5rem 0;
}
.sl-filter>section{
    width:25%;
    height:1.5rem;
    float: left;
    text-align: center;
}
.sl-filter-options{
    width:100%;
    position: absolute;
    left:0;
    top: 2rem;
    display: none;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
}

a.sl-filter-options-link {
    display: inline-block;
    line-height: 3rem;
}

li.sl-filter-options-item {
    text-align: left;
    margin: 0 .5rem;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.sl-product{
    position: relative;
    margin-bottom: 0.5rem;
}
.sl-product-img-box{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left:0;
    top:0;
}
.sl-product-msg-box{
    width:100%;
    height: 8rem;
    padding-left: 8.2rem;
}
.sl-product-img{
    width: 8rem;
    height: 8rem;
}
.sl-product-msg-item{
    height:1rem;
    overflow: hidden;
    line-height: 1rem;
}
.sl-product-msg-list:last-child{
    border-bottom:1px solid #ccc;
}
.sl-product-label{
    background-color: #f2f2f2;
    color: #999;
    font-size: 0.8rem;
}
.sl-product-price-unit{
    font-size:0.5rem;
    color: red;
}
.sl-product-price{
    color: red;
}
.sl-product-business{
    color: #fff;
    background-color: red;
    font-size: 0.8rem;
    line-height: 0.9rem;
}
.sl-product-comment-count,.sl-product-goodcomment-precent{
    color: #999;
    font-size: 0.8rem;
}
.sl-product-msg-list span{
    margin-right: 0.2rem;
    line-height: 1rem;
    float: left;
}
.sl-product-productname{
    height: 3rem;
    font-weight: 700;
}
.sl-products {
    margin: 0 5px;
}
.sl-filter-options-checked,.sl-filter-options-unchecked{
    line-height: 3rem;
    position: absolute;
    right:0;
    top:0;
}
.sl-filter-options-active,.sl-filter-options-active a{
    color: #e93b3d;
}
.sl-product-msg-item:nth-child(even){
    height:.5rem;
}
.sl-footer{
    padding:1rem 0;
    text-align: center;
    color: #cccccc;
}
.sl-footer-loading-icon{
    font-size:2rem;
    -webkit-animation:loading 1s linear 0s;
    -o-animation:loading 1s linear 0s;
    animation:loading 1s linear 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes loading{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.sl-footer-loading-text{
    display: inline-block;
    line-height:2rem;
    vertical-align: top;
    padding: 0 .5rem;
}
a.sl-header-left-link.fas {
    font-size: 2rem;
}

a.sl-header-right-link.fas {
    font-size: 2rem;
}
.sl-product-msg-item:nth-child(5){
    font-weight:bold;
}
.sl-filter-product-opacity{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    background-color: #000;
    opacity:.5;
    display: none;
}
.sl-filter-product{
    width:90%;
    height:100%;
    position: fixed;
    left: 100%;
    top:0;
    background-color: #fff;
    overflow: scroll;
    border-top: .2rem solid #e93b3d;
}
.sl-filter-product-title{
    float: left;
    margin-left:1rem;
    font-weight:bold;
    line-height:2rem;
    font-size: 1.2rem;
}
.sl-filter-product-icon{
    float: right;
    margin-right:1rem;
    line-height:2rem;
    font-size: 1.5rem;
}
.sl-filter-value-item{
    float: left;
    margin: .2rem .5rem;
}
.sl-filter-value-link{
    display: inline-block;
    height:1.5rem;
    line-height:1.5rem;
    padding:0 1rem;
    background-color: #f7f7f7;
    border:1px solid transparent;
    -webkit-border-radius:0.75rem;
    -moz-border-radius:0.75rem;
    border-radius:0.75rem;
}
.sl-filter-value-active{
    border:1px solid #e4393c;
    color: #e4393c;
    background-color: #f7dbaf;
}
.sl-filter-fixed{
    width:90%;
    height:3rem;
    position: absolute;
    right:0;
    bottom:0;
}
.sl-filter-reset,.sl-filter-commit{
    width:50%;
    height:3rem;
    border: 0;
    float: left;
    letter-spacing: .2rem;
}
input.sl-filter-commit {
    background-color: #e93b3d;
    color: #fff;
}
.sl-filter-white{
    height:3rem;
}